{% extends "base.html" %}
{% load flux_extras %}
{% block content %}
<h1>Page d'affichage des Posts</h1>
<div class="grid-container">
    {% for instance in page_obj %}
        {% if instance|model_type == 'Ticket' %}
            <h2>Ticket</h2>
            <p>{{instance.title}}</p>
            <p>{{instance.time_created}}</p>
            {% if instance.image %}
                <img src="{{ instance.image.url }}"/>
            {% endif %}
            <button><a href="{}">Modifier</a></button>
            <button><a href="{}">Supprimer</a></button>
        {% elif instance|model_type == 'Review' %}
            <h2>Critique</h2>
            <p>{{instance.headline}}</p>
            <p>{{instance.time_created}}</p>
            <button><a href="{}">Modifier</a></button>
            <button><a href="{}">Supprimer</a></button>
        {% endif %}
    {% endfor %}
</div>
{% include 'partials/page_navigator.html' %}


{% endblock content %}