{% extends "base.html" %}
{% load flux_extras %}
{% block content %}
<p class="h4 text-center">Vos Posts</p>
<br>
<div >
    {% for instance in page_obj %}
        <div class="row bg-light">
            <div class="col">
                {% if instance|model_type == 'Ticket' %}            
                    {% include 'flux/partials/ticket_snippet.html' %}
                    <p class="text-right"><a class="btn btn-dark" href="{% url 'ticket_modify' instance.id %}">Modifier</a>
                    <a class="btn btn-dark" href="{% url 'ticket_delete' instance.id %}">Supprimer</a></p>
                {% elif instance|model_type == 'Review' %}
                    {% include 'flux/partials/review_snippet.html' %}
                    <p class="text-right"><a class="btn btn-dark" href="{% url 'review_modify' instance.id %}">Modifier</a>
                    <a class="btn btn-dark" href="{% url 'review_delete' instance.id %}">Supprimer</a></p>                   
                    
                {% endif %}
            </div>
        </div>
        <br>
    {% endfor %}
</div>
{% include 'partials/page_navigator.html' %}


{% endblock content %}