{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}    
    <p class="h4 text-center">Suivre d'autres utilisateurs</p>
    <br>        
    
        
        
        <form method="post">            
            {% csrf_token %}
            <div class="row">
                <div class="col-10"> 
                <p > {{form}} </p>
                </div>
                <div class="col-2 text-center align-self-end">
                    <input  class="btn btn-dark w-75 ml-2" type="submit" value="Envoyer"></p>
                </div>
            </div>
        </form>
    
   
    <ul>
        <br>
        <p class="h4 text-center">Abonnements</p>
        <br>
        <form method="post">            
                {{ followed_users.as_p }}
                {% csrf_token %}
                {% for followed_user in followed_users %}
                <div class="row">
                    <div class="col-9 col-lg-10 bg-white border">
                        <p>{{ followed_user.followed_user }}</p>
                    </div>
                    <div class="col-3 col-lg-2 text-center">
                        <a class="btn btn-dark"
                                href="{% url 'subscription_delete' followed_user.id %}">Désabonner</a>
                    </div>
                </div>
                {% endfor %}            
        </form>
    </ul>
    <ul>
        <br>
        <p class="h4 text-center">Abonnés</p>
        <br>
        {% for subscripter in subscripters %}
            <div class="row w-100">
                <div class="col-12 bg-white border"
                    <p>{{ subscripter.user }}</p>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock content %}