{% extends "base.html" %}
{% load flux_extras %}
{% block content %}
    <p class="h4 text-center">Suppression d'un ticket</p> 
    <br> 
    <div class="bg-light p-2"            
        <p><span class="right">{{ instance.time_created|my_date }}</span></p>
        <p>{{ instance.title }}</p>
        <p>{{ instance.description }}</p>
        {% if instance.image %}
            <img src="{{ instance.image.url }}"/>
        {% endif %}
    </div>
    <br>
    <p>Etes-vous sûr de vouloir supprimer ce ticket?</p>
    <form action="" method="post">
    {% csrf_token %}
    <input class="btn btn-dark" type="submit" value="Supprimer">
    </form>
{% endblock content %}