{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="form">
    <p class= "text-center h4">Créer un ticket</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="field">
                {{ field|as_crispy_field}}
            </div>
        {% endfor %}
        <p class="right"><input class="btn btn-dark" type="submit" value="Envoyer"></p>

    </form>
</div>

{% endblock content %}