{% extends "base.html" %}
{% load flux_extras %}
{% block content %}
    <p class="h4 text-center">Suppression d'un ticket</p> 
    <br> 
    <div class="bg-light p-2"            
        {% include 'flux/partials/ticket_snippet.html' %}
    </div>
    <br>
    <p>Etes-vous sûr de vouloir supprimer ce ticket?</p>    
    <form action="" method="post">
        {% csrf_token %}
        <a class="btn btn-dark ml-auto" href='{% url "posts" %}'>Retourner</a>
        <input class="btn btn-dark" type="submit" value="Supprimer">
    </form>
{% endblock content %}