{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<p class= "text-center h4">Modifier votre ticket</p>
<form method="post" enctype="multipart/form-data">    
    {% csrf_token %}
    {% for field in form %}    
        {% if field.label != "Image" %}
            <div class="field">
                {{ field|as_crispy_field}}
            </div>
        {% else %}
            <div class="field">                
                {{ field|as_crispy_field}}
                <img src="{{ image_url.image_url }}"/>
            </div>
        {% endif %}


    {% endfor %}
    
    
    
    <p class="right"><input class="btn btn-dark" type="submit" value="Envoyer"></p>

</form>
{% endblock content %}