{% extends "base.html" %}
{% block content %}
    <div class="row text-center">
        <div class="col" >
            <p class="h4"> Inscrivez-vous maintenant</p>
            <br>
            <p ><a class="btn btn-dark" href='{% url "signup" %}'>S'inscrire</a></p>
        </div>
        <div class="col">
            <p class="h4">Connectez-vous</p>
            <br>
            <form method="post">
                {% include "partials/crispy_snippet.html" %}
                <p class="text-right"><button class="btn btn-dark" type="submit">Se connecter</button></p>
            </form>
        </div>
    </div>
{% endblock content %}