{% extends "base.html" %}

{% block content %}

        <div class="row text-center"">
            <div class="col" >
                <p class="h2"> Inscrivez-vous maintenant</p>
                <br>
                <p ><a class="btn btn-dark" href='{% url "signup" %}'>S'inscrire</a></p>
            </div>
            <div class="col">
                <p class="h2">Connectez-vous</p>
                <br>
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}

                        <button class="btn btn-dark" type="submit">Se connecter</button>
                </form>
            </div>
        </div>
{% endblock content %}