.right {
    float: right;
}

.L {
    display: inline-block;
    padding-right: 1em;
    background-color: #f00;
}

#div_id_rating>div {
    display: inline-flex;

}

#div_id_rating>label {
    display: block;

}

.form-check {

    margin-left: 2em;
}


img {
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#logo {
    padding: 0;
}

.entry_field {
    width: 100%;
    height: 35px;
    margin-left: 25px;
    margin-right: 0;
    border: none;
}

::placeholder {
    text-align: center
}