.right {
    float: right;
}


#div_id_rating>div {
    display: inline-flex;

}

#div_id_rating>label {
    display: block;

}

.form-check {

    margin-left: 2em;
}


img {
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#logo {
    padding: 0;
}

::placeholder {
    text-align: center
}

#div_id_username label,
#div_id_password label,
#div_id_password1 label,
#div_id_password2 label {
    display: none;
}

.entry_field {
    width: 75%;
    height: 35px;
    margin-left: 25px;
    margin-right: 5px;
    border: none;

}

.w-95 {
    width: 95%;
}