{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>LITReview</title>
    <link rel="shortcut icon" type="image/png" href='{% static "images/favicon.png" %}' />
    <link href="{% static 'style.css' %}" rel = "stylesheet" type="text/css"/>

</head>
{% if user.is_authenticated %}
    <header class="upbar">
            <div class="logo">
                <img src="{% static 'images/favicon.png' %}" width="40" height="40"  />
                <span>LITReview</span>
            </div>
            <ul >
                <li><a href='{% url "flux" %}'>Flux</a></li>
                <li><a href='{% url "posts" %}'>Posts</a></li>
                <li><a href='{% url "subscriptions" %}'>Abonnements</a></li>
                <li><a href='{% url "logout" %}'>Se déconnecter ( {{ user }} )</a></li>
            </ul>
    </header>

    <body>
{% endif %}
    
    {% block content %}
    {% endblock content %}
    

</body>



</html>